# 1] Iterables

In [40]:
a= 123
for i in a:
    print(a)

    "...................................................................\\"
    
# This program will throw an error i.e int object is not iterbales because the base class of the int() 
# does not have the built in __iter__ Method.

TypeError: 'int' object is not iterable

In [41]:
a="saurabh"
for i in a:
    print(i)
    
# This program will successfully executed because the base class of str() has the built in __iter__ method"""

s
a
u
r
a
b
h

# 2] Iterator

In [42]:
a=iter([1,2,3,4,5,65,7])

#here it will iter only first element of our list
print(next(a))


#here it will iter second element of the list because it will remeber the last state of memory where the iteration is stop.
print(next(a))

print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

1
2
3
4
5
65
7

# 3] Difference between iterable and iterator
--> Iterable has __iter__().

-->Iterator has __iter__() & __next__()

In [43]:
# Use iterables in for-loops for multiple times
number_iterable = [1, 2, 3]
for i in number_iterable:
     print(i)
print('-----')
for i in number_iterable:
    print(i)
print('-----')
#In above it|erable program if we run the for loop we will get the iteration again again.

1
2
3
-----
1
2
3
-----

In [44]:
# Use iterators in for-loops for multiple times
number_iterator = iter([1, 2, 3])
for i in number_iterator:
     print(i)
# print('-----')
for i in number_iterator:
     print(i)
# # In above example if we once use the __iter__() then if we use the for loop it will execute one time , 
# if again use the for loop for same object then it doesnot show output

1
2
3

In [45]:
a=iter("saurabh")
for i in a:
    print(next(a))

a
r
b
a

# 4] Generator

In [46]:
def square():
    i=1
    while True:
        yield i*i
        i+=1
# var=square()
# print(type(var))

for num in square():
    if num >100:
        break
    print(num)

1
4
9
16
25
36
49
64
81
100

In [47]:
# Program to print the Power of two up to the given number
def PowerTwoGen( max=0 ):
    n = 1
    while n < max:
        yield 2 ** n
        n += 1

a = PowerTwoGen(6)

# Printing the values stored in a
for i in a:
     print(i)

2
4
8
16
32

# 5] Filter

In [48]:
ages=[5,12,13,45]

def my(x):
    if x<18:
        return False
    else:
        return True
a= filter(my,ages)

for x in a:
    print(x)

45

# 6] Map

In [49]:
def addition(n):
    return n+n
number=(1,2,3,4,5)
result=map(addition,number)
print(list(result))

[2, 4, 6, 8, 10]

# 7] zip

In [50]:
a=[1,2,3,4]
b=[5,6,7,8]

x=zip(a,b)
print(list(x))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# 8] Reduce

In [51]:
from functools import reduce

def sum(a, b):
#     print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)


# from functools import reduce
# # calculates the product of two elements
# def product(x,y):
#     return x*y

# ans = reduce(product, [2, 5, 3, 7])
# # print(ans)

365

# 9] Join

In [52]:
e=['a','b','c']
str1="+"
l=str1.join(e)
print(l)

a+b+c

# 10] Enumerate

In [53]:
lis=["hi","by"]
l1=enumerate(lis)
print(list(l1))

[(0, 'hi'), (1, 'by')]

# 11] Lambda

In [54]:
x=lambda a: a+10
print(x(10))





y=[2,4,5,6,78,8]

20

# 12] list comprehension

In [55]:
fruits=["apple","banana","kiwi"]
new1=[x for x in fruits if "a" in x]
print(new1)

['apple', 'banana']

# 13] Dictionary Comprehension

In [6]:
mydict={x:x**2 for x in [1,2,3,4,5]}
print(mydict)



#2nd example
keys=["a","b","c"]
values=[1,2,3]


b={k:v for (k,v) in zip(keys,values)  }
print(b)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{'a': 1, 'b': 2, 'c': 3}

# 14] set Comprehension

In [57]:
set1={1,2,3,4,5,6,7,2,2,4,6,8}
set2={var for var in set1 if var%2==0}
print(set2)

{8, 2, 4, 6}

# 15] Bisect

In [10]:
#bisect_left

import bisect
a=[1,2,3,4,5,7,8,9]

b=6

#here we can use bisect.bisect OR bisect.bisect_left because by default bisect_left is bisect.
# i=bisect.bisect(a,b)
i=bisect.bisect_left(a,b)
print(i)


#here by using insert method the b=6 value will be add at the position given by i object (bisect module)
a.insert(i,b)

print(a)

5
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
#bisect right
a=[2,4,6,8,10,12,18]

b=11
c=7
# This bisect left will add the element c=6 from left side of the sorted list
j=bisect.bisect_left(a,c)

# This bisect right will add the element b=6 from right side of the sorted list i.e it will start from end of the list
i=bisect.bisect_right(a,b)

print("Bisect_left:", j)
print("Bisect Right:",i)

# insert the element fron left side
a.insert(j,c)

#insert the element from right side
a.insert(i,b)

print(a)

Bisect_left: 3
Bisect Right: 5
[2, 4, 6, 7, 8, 11, 10, 12, 18]

In [30]:
a=["alex","bhai","chaman","elephant"]
c="dad"

i=bisect.bisect_left(a,c)
print(i)

3

In [44]:
cars=["Ford","Mitsubishi","BMW","Vw"]
sorted_car=[]

for i in cars[0:3]:
    b=len(i)
    for j in cars[1:3]:
        c=len(j)
        if b<c:
            print(i)
            sorted_car.append(i)
        
print(sorted_car)

Ford
BMW
['Ford', 'BMW']

In [ ]:
#doubt for lo and hi in bisect module


a=[1,2,3,4,5,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,8,9,9,10]
c=7
j=bisect.bisect_right(a,c,lo=2, hi=23)
print(j)

In [31]:
a=[1,2,3,4,5]
b=iter(a)
print(b)

<list_iterator object at 0x000001A1D8997A00>

In [60]:
from datetime import datetime


def log_datetime(func):
    '''Log the date and time of a function'''

    def wrapper():
        print(f'Function: {func.__name__}\nRun on: {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper


@log_datetime
def daily_backup(): #2nd after calling t

    print('Daily backup job has finished.')   

     
daily_backup() #1st step program will start here for execution

Function: daily_backup
Run on: 2022-06-03 17:29:51
------------------------------
Daily backup job has finished.

In [14]:
a=""
print(len(a))    
x=a.lower()
z=[]
for i in x:
    if i=="a":
        z.append(i)
print(len(z))

7445
262

In [14]:
# #task 1
# a=[1,2,3,4]
# def addition(n):
#     z=n+n
#     return z*n

# var=list(map(addition,a))
# print(var)



def add():
    return lambda x:  x+x

def sqr():
    return lambda x: x*x

func=[add(),sqr()]
arr=list(map(int,input().strip().split(" ")))
def cmap(func,arr):
    result=list(map(func[1],arr))
    final=list(map(func[0],result))
    
    return final

cmap(func,arr)

1 12 3 4

[2, 288, 18, 32]

In [11]:
# task2
def divise(func):
    def check(a,b):
      
        if b==0:
            print("Invalid division|| number can not be divisible by 0")
        else:
            return func(a,b)
    return check

@divise
def division(a,b):
    c=a/b
    print(c)

    
div1=divise(division)
div1(5,0)

Invalid division|| number can not be divisible by 0

In [60]:
cars=[
    {"car":"ford" , "year":2005},
    {"car":"mitsubishi" , "year":2001},
    {"car":"BMW" , "year":2000},
    {"car":"vw" , "year":2000}
]


def myfunc(e):
    return e['year']

a=sorted(cars,key=lambda i: (i['year'],i['car']))
cars.sort(key=lambda i: (i['year'],i['car']))
print(a)
print(cars)

[{'car': 'BMW', 'year': 2000}, {'car': 'vw', 'year': 2000}, {'car': 'mitsubishi', 'year': 2001}, {'car': 'ford', 'year': 2005}]
[{'car': 'BMW', 'year': 2000}, {'car': 'vw', 'year': 2000}, {'car': 'mitsubishi', 'year': 2001}, {'car': 'ford', 'year': 2005}]

In [63]:

def len_sort(a):
    n = len(a)
    for i in range(n):
        for j in range(i+1,n):
            if len(a[i]) > len(a[j]):
                temp = a[i]
                a[i] = a[j]
                a[j] = temp
    return a
print(len_sort(['Ford', 'Mitsubishi', 'BMW', 'VW']))





def myfunc(e):
    return len(e)

cars=['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myfunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']
['VW', 'BMW', 'Ford', 'Mitsubishi']

In [66]:
a={}
print(type(a))

<class 'dict'>

In [67]:
a=None
print(type(a))

<class 'NoneType'>

In [69]:
a=14
b=4
print(a and b)

4

In [73]:
a=8
b=5
print(b & a)
print(8^5)

0
13

In [74]:
2**8

256